<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>バーチャル参拝</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="バーチャル参拝">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://i544c.github.io/sanpai">
  <meta property="og:image" content="http://i544c.github.io/sanpai/favicon.png">
  <meta property="og:image:width" content="800">
  <meta property="og:image:height" content="420">
  <meta property="og:site_name" content="i544c.github.io">
  <meta property="og:description" content="バーチャルでも参拝できるように作ってみた。">
  <meta property="fb:admins" content="100002088788350">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="http://i544c.github.io/sanpai/favicon.png">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <link rel="shortcut icon" type="image/png" href="./favicon.png">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div id="app">
    <p>クリック又はタップして参拝</p>
    <img src="./suzu.png" id="suzu" ontouchstart="" v-bind:style="{ animationDuration: duration + 's' }" v-bind:class="{ auto: is_auto }">
    <ul>
      <li>往復は<input type="number" id="duration" v-model="duration" step="0.1">秒</li>
      <li>
        参拝の自動化<input type="checkbox" id="is_auto" v-model="is_auto">
        <label for="is_auto">{{ is_auto ? "する" : "しない" }}</label>
      </li>
    </ul>
  </div>
  <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=%E3%83%90%E3%83%BC%E3%83%81%E3%83%A3%E3%83%AB%E5%8F%82%E6%8B%9D%E3%81%97%E3%81%A6%E3%81%BF%E3%81%9F">Tweet</a>

  <script>
  var app = new Vue({
    el: "#app",
    data: {
      duration: 0.1,
      is_auto: false,
    },
  });
  </script>
</body>
</html>
