#duration {
  width: 3em;
}

#suzu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100vh;
}

#suzu:active {
  animation: yureru .1s infinite;
  transform-origin: 50% 10px;
}

@keyframes yureru {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(45deg); }
  75%  { transform: rotate(-45deg); }
  100% { transform: rotate(0deg); }
}
