body {
  padding-bottom: 30px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

#duration {
  width: 3em;
}

#suzu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100vh;
  transform-origin: 50% 10px;
}

#suzu:active {
  animation: yureru;
  animation-iteration-count: infinite;
}

.auto {
  animation: yureru;
  animation-iteration-count: infinite !important;
}

@keyframes yureru {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(45deg); }
  75%  { transform: rotate(-45deg); }
  100% { transform: rotate(0deg); }
}
